<!DOCTYPE root[<!ELEMENT ConfirmConnectionPage ANY>
<!ATTLIST ConfirmConnectionPage id ID #REQUIRED>
<!ELEMENT ProfilePage ANY>
<!ATTLIST ProfilePage id ID #REQUIRED>
<!ELEMENT ReportPage ANY>
<!ATTLIST ReportPage id ID #REQUIRED>
<!ELEMENT ReportFolder ANY>
<!ATTLIST ReportFolder id ID #REQUIRED>
<!ELEMENT RegisterPage ANY>
<!ATTLIST RegisterPage id ID #REQUIRED>
<!ELEMENT LoginPage ANY>
<!ATTLIST LoginPage id ID #REQUIRED>
 
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1134" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-25T17:50:27" updateDate="2015-04-25T17:50:27" nodeName="Home" urlName="home" path="-1,1134" isDoc="" nodeType="1092" creatorName="Russell" writerName="Russell" writerID="0" template="1091" nodeTypeAlias="HomePage">
    <LoginPage id="1135" parentID="1134" level="2" creatorID="0" sortOrder="0" createDate="2015-04-25T17:50:54" updateDate="2015-04-25T17:50:54" nodeName="Login" urlName="login" path="-1,1134,1135" isDoc="" nodeType="1133" creatorName="Russell" writerName="Russell" writerID="0" template="1132" nodeTypeAlias="LoginPage" />
    <RegisterPage id="1136" parentID="1134" level="2" creatorID="0" sortOrder="1" createDate="2015-04-25T17:51:02" updateDate="2015-04-25T17:51:02" nodeName="Register" urlName="register" path="-1,1134,1136" isDoc="" nodeType="1131" creatorName="Russell" writerName="Russell" writerID="0" template="1130" nodeTypeAlias="RegisterPage" />
    <ReportFolder id="1141" parentID="1134" level="2" creatorID="0" sortOrder="2" createDate="2015-04-25T18:44:41" updateDate="2015-04-25T18:44:41" nodeName="Reports" urlName="reports" path="-1,1134,1141" isDoc="" nodeType="1140" creatorName="Russell" writerName="Russell" writerID="0" template="1130" nodeTypeAlias="ReportFolder">
      <ReportPage id="1142" parentID="1141" level="3" creatorID="0" sortOrder="0" createDate="2015-04-25T18:45:57" updateDate="2015-04-25T20:26:47" nodeName="Report" urlName="report" path="-1,1134,1141,1142" isDoc="" nodeType="1139" creatorName="Russell" writerName="Russell" writerID="0" template="1138" nodeTypeAlias="ReportPage" />
    </ReportFolder>
    <ProfilePage id="1147" parentID="1134" level="2" creatorID="0" sortOrder="3" createDate="2015-04-25T22:59:35" updateDate="2015-04-25T22:59:35" nodeName="Profile" urlName="profile" path="-1,1134,1147" isDoc="" nodeType="1146" creatorName="Russell" writerName="Russell" writerID="0" template="1145" nodeTypeAlias="ProfilePage" />
    <ConfirmConnectionPage id="1154" parentID="1134" level="2" creatorID="0" sortOrder="4" createDate="2015-04-26T01:48:10" updateDate="2015-04-26T01:48:10" nodeName="Confirmconnection" urlName="confirmconnection" path="-1,1134,1154" isDoc="" nodeType="1153" creatorName="Russell" writerName="Russell" writerID="0" template="1152" nodeTypeAlias="ConfirmConnectionPage">
      <ContentPage id="1164" parentID="1154" level="3" creatorID="0" sortOrder="0" createDate="2015-04-26T02:46:30" updateDate="2015-04-26T02:47:10" nodeName="ThankYou" urlName="thankyou" path="-1,1134,1154,1164" isDoc="" nodeType="1104" creatorName="Russell" writerName="Russell" writerID="0" template="1103" nodeTypeAlias="ContentPage">
        <content><![CDATA[<h1> Thank you</h1>
<p>Thank you, your choice has been saved.</p>]]></content>
      </ContentPage>
    </ConfirmConnectionPage>
  </HomePage>
</root>