<!DOCTYPE root[<!ELEMENT ServiceFolder ANY>
<!ATTLIST ServiceFolder id ID #REQUIRED>
<!ELEMENT RegistrationServicePage ANY>
<!ATTLIST RegistrationServicePage id ID #REQUIRED>
<!ELEMENT AuthenticationServicePage ANY>
<!ATTLIST AuthenticationServicePage id ID #REQUIRED>
 
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1093" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-25T01:12:56" updateDate="2015-04-25T01:12:56" nodeName="Home" urlName="home" path="-1,1093" isDoc="" nodeType="1092" creatorName="Russell" writerName="Russell" writerID="0" template="1091" nodeTypeAlias="HomePage">
  </HomePage>
</root>