<!DOCTYPE root[<!ELEMENT MapsPage ANY>
<!ATTLIST MapsPage id ID #REQUIRED>
 
<!ELEMENT ConfirmConnectionPage ANY>
<!ATTLIST ConfirmConnectionPage id ID #REQUIRED>
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT LoginPage ANY>
<!ATTLIST LoginPage id ID #REQUIRED>
<!ELEMENT ProfilePage ANY>
<!ATTLIST ProfilePage id ID #REQUIRED>
<!ELEMENT RegisterPage ANY>
<!ATTLIST RegisterPage id ID #REQUIRED>
<!ELEMENT ReportFolder ANY>
<!ATTLIST ReportFolder id ID #REQUIRED>
<!ELEMENT ReportPage ANY>
<!ATTLIST ReportPage id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1134" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-25T17:50:27" updateDate="2015-04-26T08:14:18" nodeName="Home" urlName="home" path="-1,1134" isDoc="" nodeType="1092" creatorName="Russell" writerName="Russell" writerID="0" template="1091" nodeTypeAlias="HomePage">
    <LoginPage id="1135" parentID="1134" level="2" creatorID="0" sortOrder="0" createDate="2015-04-25T17:50:54" updateDate="2015-04-26T04:19:40" nodeName="Login" urlName="login" path="-1,1134,1135" isDoc="" nodeType="1133" creatorName="Russell" writerName="Russell" writerID="0" template="1132" nodeTypeAlias="LoginPage">
      <heading><![CDATA[<h1>Login</h1>
<p>Login to see your stuff</p>]]></heading>
    </LoginPage>
    <RegisterPage id="1136" parentID="1134" level="2" creatorID="0" sortOrder="1" createDate="2015-04-25T17:51:02" updateDate="2015-04-26T04:20:09" nodeName="Register" urlName="register" path="-1,1134,1136" isDoc="" nodeType="1131" creatorName="Russell" writerName="Russell" writerID="0" template="1130" nodeTypeAlias="RegisterPage">
      <heading><![CDATA[<h1>Register</h1>
<p>Register so that you have stuff to login and see</p>]]></heading>
      <ContentPage id="1176" parentID="1136" level="3" creatorID="0" sortOrder="0" createDate="2015-04-29T23:07:57" updateDate="2015-04-29T23:07:57" nodeName="Thank You" urlName="thank-you" path="-1,1134,1136,1176" isDoc="" nodeType="1104" creatorName="Russell" writerName="Russell" writerID="0" template="1103" nodeTypeAlias="ContentPage">
        <heading><![CDATA[<h1>Thank you</h1>
<p>Now you're in!</p>]]></heading>
        <content><![CDATA[<p>Cheers</p>]]></content>
      </ContentPage>
    </RegisterPage>
    <ReportFolder id="1141" parentID="1134" level="2" creatorID="0" sortOrder="2" createDate="2015-04-25T18:44:41" updateDate="2015-04-25T18:44:41" nodeName="Reports" urlName="reports" path="-1,1134,1141" isDoc="" nodeType="1140" creatorName="Russell" writerName="Russell" writerID="0" template="1130" nodeTypeAlias="ReportFolder">
      <ReportPage id="1142" parentID="1141" level="3" creatorID="0" sortOrder="0" createDate="2015-04-25T18:45:57" updateDate="2015-04-26T04:20:39" nodeName="Report" urlName="report" path="-1,1134,1141,1142" isDoc="" nodeType="1139" creatorName="Russell" writerName="Russell" writerID="0" template="1138" nodeTypeAlias="ReportPage">
        <heading><![CDATA[<h1>Report</h1>
<p>What have you been up to?</p>]]></heading>
      </ReportPage>
      <MapsPage id="1174" parentID="1141" level="3" creatorID="0" sortOrder="1" createDate="2015-04-26T10:33:24" updateDate="2015-04-26T10:37:02" nodeName="Maps" urlName="maps" path="-1,1134,1141,1174" isDoc="" nodeType="1173" creatorName="Russell" writerName="Russell" writerID="0" template="1172" nodeTypeAlias="MapsPage">
        <heading><![CDATA[<h1>Maps</h1>
<p>Where have you been?</p>]]></heading>
      </MapsPage>
    </ReportFolder>
    <ProfilePage id="1147" parentID="1134" level="2" creatorID="0" sortOrder="3" createDate="2015-04-25T22:59:35" updateDate="2015-04-26T04:21:00" nodeName="Profile" urlName="profile" path="-1,1134,1147" isDoc="" nodeType="1146" creatorName="Russell" writerName="Russell" writerID="0" template="1145" nodeTypeAlias="ProfilePage">
      <heading><![CDATA[<h1>Your profile</h1>
<p>It's like yours.</p>]]></heading>
    </ProfilePage>
    <ConfirmConnectionPage id="1154" parentID="1134" level="2" creatorID="0" sortOrder="4" createDate="2015-04-26T01:48:10" updateDate="2015-04-26T04:21:31" nodeName="Confirmconnection" urlName="confirmconnection" path="-1,1134,1154" isDoc="" nodeType="1153" creatorName="Russell" writerName="Russell" writerID="0" template="1152" nodeTypeAlias="ConfirmConnectionPage">
      <ContentPage id="1164" parentID="1154" level="3" creatorID="0" sortOrder="0" createDate="2015-04-26T02:46:30" updateDate="2015-04-26T04:21:53" nodeName="ThankYou" urlName="thankyou" path="-1,1134,1154,1164" isDoc="" nodeType="1104" creatorName="Russell" writerName="Russell" writerID="0" template="1103" nodeTypeAlias="ContentPage">
        <heading><![CDATA[<h1>Thank you</h1>
<p>Cheers.</p>]]></heading>
        <content><![CDATA[<h1> Thank you</h1>
<p>Thank you, your choice has been saved.</p>]]></content>
      </ContentPage>
      <heading><![CDATA[<h1>Confirm connection</h1>
<p>Confirm your connection to this patient. </p>]]></heading>
    </ConfirmConnectionPage>
    <heading><![CDATA[<h1>Epilexy</h1>
<p>Setup guardians, see reports, stay up all night.</p>]]></heading>
    <body><![CDATA[<h2>Welcome</h2>
<p>Here's the site</p>]]></body>
  </HomePage>
</root>