@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

@section Scripts {
    <script src="~/scripts/vendor/Chart.js"></script>
    <script src="~/scripts/vendor/jquery.dataTables.js"></script>
    <script src="~/scripts/Report.js"></script>
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
}

@section PageTitleZone{
    @Html.Raw(Model.Content.GetPropertyValue("Heading"))
}
@section L4_Zone100 {
    <div class="C00_CleanWPadding container-box">

        @Html.Action("GetAllData", "Report")
</div>
    }